# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
.DS_Store
dist
dist-ssr
coverage
appsettings.json
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.vs/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
MapCompereAPI/bin/*
MapCompereAPI/obj/*

**/bin/
**/obj/

**/.env/
MapCompereAPI/GPT4AllService/Models/mistral-7b-instruct-v0.1.Q4_0.gguf
