@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: grid;
}

.map {
  height: 90vh;
  width: 90vw;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}
